<?xml version="1.0"?>
<!--<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot_table">
    <xacro:macro name="robot_table">-->
<robot name="robot_table">
        <link name="world" />

        <material name="blue">
            <color rgba="0 0 0.8 1"/>
        </material>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>

        <link name="table_middle">
            <visual>
                <geometry>
                    <box size="0.8 1.2 0.705" />
                </geometry>
                <origin xyz="0 0 0.3525" rpy="0 0 0" />
                <material name="blue" />
            </visual>
        </link>

        <joint name="world_to_table" type="fixed">
            <parent link="world" />
            <child link="table_middle" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="table_base_hong">
          <visual>
              <geometry>
                  <box size="1.2 1.8 0.75" />
              </geometry>
              <origin xyz="0 0 0.375" rpy="0 0 0" />
              <material name="blue" />
          </visual>
        </link>

        <link name="upper_block_hong" >
          <visual>
              <geometry>
                  <box size="0.25 0.25 0.02" />
              </geometry>
              <origin xyz="0 0 0.01" rpy="0 0 0" />
              <material name="white" />
          </visual>
        </link>

        <joint name="world_to_table_hong" type="fixed">
            <parent link="world" />
            <child link="table_base_hong" />
            <origin xyz="-1.35 0 0" rpy="0 0 0" />
        </joint>

        <joint name="table_to_block_hong" type="fixed">
            <parent link="table_base_hong" />
            <child link="upper_block_hong" />
            <origin xyz="0.465 0 0.75" rpy="0 0 0" />
        </joint>

        <link name="table_base_kong">
          <visual>
              <geometry>
                  <box size="1.2 1.8 0.75" />
              </geometry>
              <origin xyz="0 0 0.375" rpy="0 0 0" />
              <material name="blue" />
          </visual>
        </link>

        <link name="upper_block_kong" >
          <visual>
              <geometry>
                  <box size="0.25 0.25 0.02" />
                  <origin xyz="0 0 0.01" rpy="0 0 0" />
              </geometry>
              <material name="white" />
          </visual>
        </link>

        <joint name="world_to_table_kong" type="fixed">
            <parent link="world" />
            <child link="table_base_kong" />
            <origin xyz="1.35 0 0" rpy="0 0 0" />
        </joint>

        <joint name="table_to_block_kong" type="fixed">
            <parent link="table_base_kong" />
            <child link="upper_block_kong" />
            <origin xyz="-0.465 0 0.75" rpy="0 0 0" />
        </joint>


</robot>
